@charset "UTF-8";
@import url("normalize.css");

/* Define o padrão usado nas páginas */

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    color: white;
    background-image: url("../images/background3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h2 {
    text-decoration: underline;
    margin: 4px;
    border: 0;
    padding: 0;
}

h3 {
    margin: 0;
    border: 0;
    padding: 0;
}

header > h2 {
    margin: 0;
    border: 0;
    padding: 0;
}

.data {
    font-size: 19px;
    font-family: Garamond, serif;
    border: 2px dotted white;
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 768px;
}

nav {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
    margin: 0;
    padding: 0;
    border: 0;
}

div.backgroundprincipal {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

article, header {
    margin: 4px;
    border: 2px;
    padding: 0;
}

form {
    margin: 4px;
}

article > p {
    margin: 4px;
}

div > p {
    margin: 4px;
}

ul.referencias {
    text-align: left;
}

ul.indice {
    text-align: left;
    list-style-type: none;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;
    margin: 0;
    border: 0;
    padding: 0;
}

/* Especifica as características do menu */

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color:black;
}

li.itens {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
}

li.itens > a {
    display: inline-block;
    color: rgb(0,191,255);
    padding: 14px 62px;
    border: 0;
    margin: 0;
}

li > a.ativo {
    color: white;
}

li.itens > a:hover:not(.ativo) {
    transition: all 1.5s ease 0s;
    background-color: white;
    color: rgb(0,0,255);
}

/* Especifica as características dos links das páginas */

a:link {color: rgb(0,191,255); text-decoration: none;}
a:visited {color: rgb(0,191,255); text-decoration: none;}
a:hover {color: rgb(224,255,255); text-decoration: none;}
a:active {color: rgb(224,255,255); text-decoration: none;}

/* Define as características das tabelas das páginas */

table, th, td {
    border: 2px solid white;
    margin: auto;
    background-color: black;
    border-collapse: collapse;
}

/* Primeira letra do primeiro parágrafo das páginas */

p.inicial::first-letter {
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Versão para outros dispositivos */

@media only screen and (max-width: 1024px) {
    nav {
        display: block;
    }

    li.itens {
        display: block;
        width: 100%;
        border-bottom: 1px solid #FFFFFF;
    }

    .itens > a {
        padding: 14px 42px;
        width: 100%;
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .tablet {
        display: block;
    }

    .desktop, .smartphone {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        display: block;
    }

    li.itens {
        display: block;
        width: 100%;
        border-bottom: 1px solid #FFFFFF;
    }

    .itens > a {
        padding: 14px 32px;
        width: 100%;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .smartphone {
        display: block;
    }

    .desktop, .tablet {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .desktop {
        display: block;
    }
    
    .tablet, .smartphone {
        display: none;
    }
}

/* Slider */
div.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    bottom: 45%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.texto {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: black;
    opacity: 0.8;
}

.numerotexto {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.8;
}

.botao {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.6s ease;
}

.active, .botao:hover {
    background-color: #717171;
}
